body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 55px;
    width: 100%;
}

nav h1 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 530px;
    font-weight: 500;
}

header {
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 727px;
    margin-top: 0px;
}

#desc-section {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 100%;
    height: 348px;
    top: 800px;
}

.wrapper .texto1,
img {
    display: inline-block;
    vertical-align: middle;
}

.wrapper img {
    width: 399px;
    height: 237px;
    margin-top: 45px;
    margin-left: 145px;
}

.wrapper .texto1 {
    width: 475px;
    height: 197px;
    margin-top: 76px;
    margin-left: 150px;
}

#icons-section {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #1E1A13;
    opacity: 0.98;
    width: 100%;
    height: 348px;
    padding-top: 76px;
}

.caracttitle h2 {
    font-size: 40px;
    font-weight: 500;
    margin-left: 463px;
    color: white;
    letter-spacing: 0;
}

.wrapper2 {
    margin-left: 210px;
}

i {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.d-inline-bloque {
    display: inline-block;
    padding: 90px;
    text-align: center;
    padding-top: 50px;
}

.d-inline-bloque h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

#imagiguanas {
    background-color: #000000;
    opacity: 1;
    width: 100%;
    height: 348px;
}

.d-inline-bloque2 {
    display: inline-block;
    padding: 5px;
    padding-top: 20px;
}

#imagiguanas img {
    width: 316px;
    height: 202px;
    margin-top: 55px;
}

.contenedor-ig {
    padding-left: 0px;
    margin-left: 175px;
}

footer#conocermas {
    background-color: #1E1A13;
    opacity: 0.94;
    width: 100%;
    height: 102px;
}

.link {
    text-align: center;
    padding-top: 45px;
}